<!DOCTYPE html>
<html lang="en">
<%- include(`${appcfg.app.rootFolder}/node_modules/web_resources/src/web/templates/_top.ejs`); %>
<!--------------------------------------------------------------------------------------------------------------------->

重仓交易
<div class=" w-full bg-neutral text-neutral-content shadow-sm card p-2" v-for="trade in bigTradesList">
    <p>
        大宗交易 &nbsp;&nbsp; <span style="color: red;">${trade.stockId}</span> &nbsp;&nbsp;
        ${stockMap[trade.stockId].title}<br>
        买入机构 &nbsp;&nbsp; <span style="color: red;">${instMap[trade.instBuyId].title}</span> <br>
        卖出机构 &nbsp;&nbsp; <span style="color: green;">${instMap[trade.instSellId].title}</span><br>
        交易金额 &nbsp;&nbsp; <span style="color: red;"> ${parseFloat(trade.tradeAmount)}万元</span><br>
        交易日期 &nbsp;&nbsp; ${trade.dateInt}
    </p>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<%- include(`${appcfg.app.rootFolder}/node_modules/web_resources/src/web/templates/_bottom.ejs`); %>
<script type="text/javascript">
    <%- include(`${appcfg.app.rootFolder}/src/web/views/reports/big.trade.report.js`); %>
</script>
</html>