<!DOCTYPE html>
<html lang="en">
<%- include(`${appcfg.app.rootFolder}/node_modules/web_resources/src/web/templates/_top.ejs`); %>

<!--------------------------------------------------------------------------------------------------------------------->
<ul class="menu bg-base-200 rounded-box w-full">
    <li><a href="/reports/big.trade.report" target="_blank">大宗交易报表</a></li>
    <li><a>大宗交易报表</a></li>
    <li><a>大宗交易报表</a></li>
</ul>

<!--------------------------------------------------------------------------------------------------------------------->
<%- include(`${appcfg.app.rootFolder}/node_modules/web_resources/src/web/templates/_bottom.ejs`); %>
<script type="text/javascript">
    <%- include(`${appcfg.app.rootFolder}/src/web/views/index.js`); %>
</script>
</html>